#==================#
# PostgreSQL
#==================#

POSTGRES_USER=user
# POSTGRES_PASSWORD=password
POSTGRES_DB=my_database
POSTGRES_PASSWORD_FILE=/run/secrets/db_password

#==================#
# pgadmin4
#==================#

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin